@import url('General.css');

.DiceBoard {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.DiceList {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
}